<div style="background-color: black; min-height: 100vh;">
  <div class="header">
    <div>
      <img src="assets/img/banner.png">
    </div>
    <h4>
      <span class="site-description">{{ site.user_title }}</span>
    </h4>
    <div class="header-icons">
      <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/neoantropofagia/"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/NeoAntropofagia/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/channel/UCxbhxuueMZPLNCGWZiI9gKw/featured"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </div>
  <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
